html{
    scroll-behavior: smooth;
}
body{
    width:auto;
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #151c26;
}
.content{
    border: 1px solid black;
    border-radius: 0 0 20px 20px;
    background: #eb3839;
    position: sticky;
    top: 0;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
.content p{
    color: aliceblue;
   font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
a:link{
    color: aliceblue;
    text-decoration: none;
}
iframe{
    display: flex;
    border: none;
    z-index: 1;
   overflow: hidden;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
    margin-top: 10px;
}

#signup{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    border:1px solid #6f6f6f;
    background: #2f2f2f;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 50px;
    margin-right:10px;  
    border-radius: 50px;
    box-shadow: 1px 0 10px 5px rgba(255, 127, 17, 0.72); 
}
img.abc{
    position: inherit;
     width: auto;
    height: 400px; 
    flex-basis: auto;
}
.login{
   margin: 0px auto;
    align-self: center;
    align-content: flex-end;
    align-items: center;
    position: inherit;
    width: auto;
    flex-basis: auto;
}
.log{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.b1{
    color: #000000;
    background: #e69e14;
    width: 200px;
    height: 50px;
    border-radius: 90px 20px 90px 20px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    transition: font-size 2s;
}
button:hover{
    font-weight: 900;
}
   .b2{
    color: #000000;
    background: #e69e14;
    width: 200px;
    height: 50px;
    border-radius: 90px 20px 90px 20px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    transition: font-size 2s;
}
.pos{
   margin: 0px auto;
    align-content: center;
    align-items: center;
    text-align: center;
}
input{
    width: 300px;
    height: 50px;
    color: #19191a;
    font-size: 25px;
    border-radius: 50px;
    background-color: #cedea1;   
    transition: width 1s;
}
input:hover{
    width:350px;
}
::placeholder{
    align-content: center;
    color: #717e89;
    font-size: 20px;
   text-align: center;
}
.submit{
    text-align: center;
    align-content: center;
    align-items: center;
}

.b3{
    cursor: pointer;
   color: #0c0c0d;
    background: #ff7f11;
    width: 150px;
    height: 40px;
    border-radius: 50px ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    transition: font-size 2s;     
}
.submit p{
    cursor: pointer;
    color: azure;
    margin: 0px auto ;
    font-weight: 500;
    font-size: 20px;
}
hr{
    position: relative;
    margin-top: 30px;
    border-radius: 50px;
    width: 50%;
    height: 10px;
    align-items: center;
    animation-name: abc;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    }
@keyframes abc{
 from{
     width: 15% ;
     background: #27028d;
    }
    to{
        width: 50% ;
        background: #c1ef00;
    }
}
